body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

input {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

.header_title {
    font-size: 120%;
    font-weight: bold;
    padding-bottom: 5px;
    margin-top: -10px;
}

.panel {
    position: fixed;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: default;
}

#instructions_panel {
    font-family: sans-serif;
    font: Trebuchet;
    line-height: 1.5;
    top: 20px;
    left: 20px;
    width: 550px;
}

#algorithm_panel {
    font-family: sans-serif;
    font: Trebuchet;
    line-height: 1.5;
    width: 280px;
}
.left_panel {
    top: 500px;
    left: 250px;
}

#heuristic_panel {
    font-family: sans-serif;
    font: Trebuchet;
    line-height: 1.5;
    width: 260px;
}
.central_panel {
    top: 590px;
    left: 645px;
}

#start_panel {
    font-family: sans-serif;
    font: Trebuchet;
    line-height: 1.5;
    width: 280px;
}
.right_panel {
    top: 615px;
    left: 1020px;
}

#new_panel {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  right: 20px;
  bottom: 50px;
  text-align: center;
  border-style: solid;
}

.new_panel_row {
  border-color: blue;
}

#new_panel_row {
  border-right-style: dashed;
  background-color: green;
}

.new_panel_col_top {
  border-bottom-style: dashed;
  border-color: blue;
  background-color: green;
  height: 40px;
  width: 150px;
  padding: 8px;
  display: table-cell;
  vertical-align: middle;
}

#new_panel_col_bottom_first {
  padding-top: 16px;
}
#new_panel_col_bottom_second {
  padding-bottom: 16px;
}

.new_panel_col_bottom {
  border-color: blue;
  background-color: green;
  padding: 8px;
}

#hide_instructions {
    position: absolute;
    right: 25px;
    top: 10px;
    font-size: 90%;
    cursor: pointer;
}

#hide_instruction:hover {
    color: #fff;
    text-decoration: underline;
}

.option_header {
    font-size: 80%;
    margin-left: 20px;
}

.option_label {
    cursor: pointer;
}

button {
    border: none;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    font-size: 90%;
    cursor: pointer;
    padding: 2px 8px;
    margin: 0 2%;
    width: 28%;
}

button:hover {
    background: rgba(255, 255, 255, 0.9);
}

.finder_section {
    border: solid 1px #ddd;
    border-radius: 5px;
    height: 0px;
}

.sub_options {
    padding: 2px;
    font-size: 14px;
    margin: 2px 30px 0;
}

#stats {
    position: fixed;
    bottom: 40px;
    left: 35px;
    color: #0a0;
    font-size: 85%;
    padding: 5px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

a {
    color: #33f;
}

footer {
    color: #333;
    font-size: 70%;
    text-align: center;
    position: fixed;
    width: 200px;
    bottom: 10px;
    left: 50%;
    margin-left: -100px;
    background: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 5px;
}

.white {
    color: #fff;
}

.green {
    color: #0d0;
}

.red {
    color: #ff9166;
}

.spinner {
    width: 2em;
}

#astar_section {
  height: 1px;
}
